# SPDX-FileCopyrightText: 2024 Matteo Lai <matteo.lai3@unibo.it>
# SPDX-License-Identifier: NPOSL-3.0

# For Synthetic_Images_Metrics_Toolkit
typing-extensions==4.12.2 
torch==2.3.1+cu118
torchvision==0.18.1+cu118
matplotlib==3.5.3
tqdm==4.64.1
tensorflow==2.12.0
click==7.1.2
requests==2.24
pyspng==0.1.1
imageio-ffmpeg==0.4.3
psutil==5.7.2
scikit-learn==1.0.2
reportlab==4.3.1
-f https://download.pytorch.org/whl/cu118/torch_stable.html

# For data loading (NIfTI and CSV files):
nibabel==4.0.2
pandas==1.3.5

# For computing metrics for Mediffusion:
mediffusion==0.7.1
bkh_pytorch_utils==0.9.3
torchextractor >= 0.3.0
OmegaConf >= 2.3.0